{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "env": {
        "node": true,
        "es6": true,
        "amd": true,
        "mocha": true
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "no-unused-vars": ["error", { "argsIgnorePattern": "^ignore" }]
            } 
        }    
    ]

}