{
    "test": {
        "PORT": 0,
        "MONGODB_URI": "mongodb://localhost:27017/TodoAppTest",
        "JWT_SECRET": ""
    },
    "development": {
        "PORT": 0,
        "MONGODB_URI": "mongodb://localhost:27017/TodoApp",
        "JWT_SECRET": ""
    }
}